.container {
    position: relative;
    width: 500px;
    min-width: 40%;
    height: 80vh;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body {
    height: 85%;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}
.top-button-group {
    width: 91%;
    margin-left: 4.5%;
    height: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
.selector-button, .selector-button-selected {
    width: 40%;
    background: rgb(52,71,104);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 1px 3px 0px rgba(0,0,0,0.14), 0px 2px 3px -1px rgba(0,0,0,0.12);

}
.selector-button:hover, .selector-button-selected {
    background: rgba(66, 89, 129, 0.822);
    border-top: solid 3px rgb(52,174,255);
    border-bottom: solid 3px rgb(255,104,104);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2), 0px 2px 3px 0px rgba(0,0,0,0.14), 0px 2px 3px -1px rgba(0,0,0,0.12);
}
.view {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 83%;
}
@media only screen and (max-width: 600px) {
    .container {
      height: 100vh;
      width: 100vw;
    }
    .top, .bottom {
        border-radius: 0px;
    }
}
  