body {
    margin: 0;
}
a {
    color: inherit;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.invisible {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54); 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.main {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: white;
    width: 100%;
    min-height: 120vh;
}

.invisible {
    opacity: 0;
}
.content {
    height: 100vh;
    width: 80%;
    background: black;
}
