body {
    margin: 0;
}
a {
    color: inherit;
}
/* main div for whole page on desktop */
.main {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: linear-gradient(90deg, #fee3ff33 0%, #d9e7ff7e 100%), 
    linear-gradient(0deg, #fce3ff75 0%, #d9e7ffa4 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease-in-out 0.3s;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.invisible {
    opacity: 0;
}