.menu {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100vh;
    transition: opacity 1s, margin-left ease-out 0.2s;
    z-index: +1;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.3s;
}
@media only screen and (min-width: 1000px) {
    .menu {
        left: 210px;
        justify-content: center;
    }
    .menu-button {
        display: none;
    }
}
.menu-option-container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.menu-option {
    font-size: 40px;
    width: 280px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(52,71,104);
    transition: ease-in-out 0.3s;
}