/* colours for chromatic aberation */
.blue {
    color: rgb(52, 174, 255);
    margin-top: 5px;
}
.red {
    color: rgb(255, 104, 104);
}
.name {
    font-family: 'Righteous', cursive;
    position: fixed;
    font-size: 100px;
    mix-blend-mode: multiply;
    width: inherit;
    overflow: hidden;
    user-select: none;
}
.name-animation {
    width: 410px;
    height: 118px;
    display: flex;
    margin-left: -6px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform-origin: 50%, 50%;
    transition: ease-in-out 0.5s;
}
.name-animation-background {
    content: '';
    height: 120px;
    width: 120px;
    margin-top: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.116);
    transition: ease-in-out 0.2s;
}
.more-link {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 20px;
    bottom: 10px;
    text-decoration: underline;
    color: rgb(52,71,104);
    cursor: pointer;
    opacity: 100;
    transition: ease-in 0.3s;
}
.name-container {
    position: absolute;
    height: 100px;
    width: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: cubic-bezier(.29,.66,.77,1) 0.3s;
}
.name-container.matthew {
    top: 0px;
}
.name-container.williams {
    bottom: 0px;
}

