/* colours for chromatic aberation */
.blue {
    color: rgb(52, 174, 255);
    margin-top: 5px;
}
.red {
    color: rgb(255, 104, 104);
}
.name {
    font-family: 'Righteous', cursive;
    position: fixed;
    font-size: 100px;
    mix-blend-mode: multiply;
    width: inherit;
    overflow: hidden;
    user-select: none;
}
.name-animation {
    width: 118px;
    height: 118px;
    display: flex;
    margin-left: -6px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform-origin: 50%, 50%;
    transition: ease-in-out 0.5s;
}
.name-animation-background {
    content: '';
    height: 120px;
    width: 120px;
    margin-top: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.116);
    transition: ease-in-out 0.2s;
}
.name-container {
    position: absolute;
    height: 100px;
    width: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: cubic-bezier(.29,.66,.77,1) 0.3s;
}
.name-container.matthew {
    top: 0px;
}
.name-container.williams {
    bottom: 0px;
}
.socialmedia {
    position: fixed;
    bottom: -120px;
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    transition: transform ease-in-out 0.3s, background ease-in 0.1s;
    background: rgb(52,71,104);
    transform: scale(0) rotate(-90deg);
    
    box-shadow: 0px -3px 0px 0px rgb(255, 101, 101), 0px 3px 0px 0px rgb(52, 174, 255);
}
.visible {
    transform: scale(1) rotate(0deg);
}
.fab {
    transform: scale(2);
    opacity: inherit;
}
.circle:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.904);
    background: rgba(52, 71, 104, 0.932);
}